<nav>
    <a href="/"><i class="fas fa-house-user"></i></a>
    <a href="/my-dev-squad"><i class="fas fa-user-secret"></i></a>
    <a href="/add-new-ironhacker"><i class="fab fa-wpforms"></i></a>
</nav>